<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
    </div>
    <br>
    <div class="row">
      <p class="lead">
        The Network :D 
        <a data-ui-sref="products.list">product</a>
         <a data-ui-sref="products.create">product</a>
        <a data-ui-sref="home">User Profile</a>
        <a data-ui-sref="settings.profile">User Profile</a>
        <a data-ui-sref="authentication">User authen</a>
       <a data-ui-sref="requests.create">Requests</a> 
       <a data-ui-sref="requests.list">Requests list</a> 
       <a data-ui-sref="shops.create">shops create</a>        
       <a data-ui-sref="shops.list">shops List</a> 
       <a data-ui-sref="customers.list">list Customer</a> 
       <a data-ui-sref="customers.create">Create Customer</a> 
      </p>
    </div>
    <div class="row">
    </div>
  </div>
</section>
