<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
    </div>
    <br>
    <div class="row">
      <p class="lead">
        The Network :D 
       <a data-ui-sref="requests.create">Requests</a> 
       <a data-ui-sref="shops.create">shops create</a>        
       <a data-ui-sref="shops.list">shops List</a> 
       <a data-ui-sref="customers.list">list Customer</a> 
       <a data-ui-sref="customers.create">Create Customer</a> 
      </p>
    </div>
    <div class="row">
    </div>
  </div>
</section>
